
.content{
	text-align: left;
	
	padding: 0 0 0 5px;
	float: left;
	
}
.info_film {
	width: 560px;
	background-color: #f9f9f9;
	padding: 5%;
	text-align: left;
	margin-right: 25px;
	height: 230px;
	margin-bottom: 5%;

}

.film_text {
	text-align: left;
	display: flex;
}
.film_text img{
	margin-right: 5px;
}
.film_text p {
	width: 60%;

}
.button {
	float: right;
	background-color: #7268ad;
	padding: 1%;
	border-radius: 5px;
	margin: 10px;
}
.button a {
	text-decoration: none;
	color: white;
	font-size: 0.9em;
}


